body,html{
    margin: 0;
    padding: 0;
}
body{
    padding: 15px;
    background-color:#e4e2de;
}
.layui-card-header{
   display: flex;
   /* 布局在两边 */
   justify-content: space-between;
   align-items: center; 
}
#form-add{
    padding-top: 20px;
    padding-right: 30px;
}
#form-edit{
    padding-top: 20px;
    padding-right: 30px;
}